services:
  backend:
    build: .
    ports:
      - "3000:3000"
    environment:
      DB_HOST: postgres
      DB_USERNAME: root
      DB_PASSWORD: root
      DB_PORT: 5432
      DB: skygate
    depends_on:
      - postgres

  postgres:
    image: "postgres:18"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    expose:
      - 5432
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
